.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 200px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* -- css for student pages  by Anil */
.Margin-top-0{
  margin-top:0 !important;
}
.Margin-bottom-0{
  margin-bottom: 0px !important;
}
.Student-container{
  padding: 30px;
}
.Present-logo{
  height: 80px;
}
.Main-link{
  text-transform: uppercase;
  font-size: 1.5em;
  color: #297283 !important;
  text-decoration: underline;
  padding-top: 20px;
  display: block;
}
.Main-link:hover{
  text-decoration: underline;
  color: #265c69 !important;
}
.Student-message {
  margin-top: 30px;
  margin-bottom: 30px;
}
.Student-message > p{
  text-align: center;
  font-size: 1em;
  color: #297283 !important;
  line-height: 19px;
  font-weight: 900;
  padding-bottom: 10px;
}
.Main-button-wrapper{
  padding:50px 0;
}
.Main-button{
  padding: 10px;
  color: #fff !important;
  font-size: 1em;
  font-weight: 900;
  background: #297283;
  border-radius: 0;
  width: 52%;
  transition: all 0.2s linear;
  border: none !important;
  text-transform: uppercase;
}
.Main-button:hover{
  background: #265c69;
}
@media screen and (max-width:991px){
  .Present-logo-wrapper{
    text-align: center;
  }
  .Present-logo-wrapper > .Present-logo{
    display: inline;
  }
}
.Qr-code-placeholder{
  display: inline-block;
  padding: 10px;
  background: #bfbfbf;
  margin-top: 30px;
  width: 44%;
  font-size: 1.5em;
  font-weight: 900;
  letter-spacing: 0.1em;
}
.Back-button-wrapper {
  position: relative;
  height: 30px;
}
.Back-button {
  position: absolute;
  top: -23px;
  right: 10px;
  padding: 5px 10px;
  color: #fff !important;
  font-size: 0.9em;
  font-weight: 900;
  background: #297283;
}
.Back-button:hover{
  background: #265c69;
}
@media screen and (max-width:767px){
  .Main-button,.Qr-code-placeholder{
    width: 90%;
    white-space: normal;
  }
  .Back-button-wrapper {
    height: 70px;
}
  .Back-button{
    position: relative;
    display: inline;
    top: 20px;
  }
}
